.map-section {
  background: #3a3a3a;
  margin-top: -48px;
}
.map-content {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.map-content > .mapImg {
  width: 22rem;
}
.map-content > .info-text {
  padding: 2rem 3rem;
  font-size: 2rem;
  font-weight: bold;
  margin: auto 0;
}
.map-content > .info-text > section > .title,
.main-info {
  color: var(--secondary-color);
}
.map-content > .info-text > section > .title {
  padding: 0.5rem 0;
}
.map-content > .info-text > section > .info {
  color: #ffffff;
}

@media (max-width: 950px) {
  .map-content {
    width: 90%;
  }
  .map-content > .mapImg {
    width: 15rem;
  }
}
@media (max-width: 850px) {
  .map-content {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .map-content > .mapImg {
    width: 20rem;
  }
  .map-content > .info-text {
    padding: 2rem 0.5rem;
    /* font-size: 1.5rem; */
  }
}
