.tutorial-slider {
  width: 60vw;
  margin: auto;
}
.sliderimg {
  position: relative;
  object-fit: cover;
  width: 60vw;
}
.tutorial-slider .alice-carousel__dots {
  position: absolute;
  margin: 0;
  bottom: 1rem;
  right: 20%;
}
.alice-carousel__dots-item.__active {
  background-color: var(--primary-color) !important;
}
.alice-carousel__dots-item:hover {
  background-color: var(--primary-color) !important;
}

@media (max-width: 767px) {
  .tutorial-slider {
    width: 90vw;
  }
  .sliderimg {
    width: 90vw;
  }
}
